* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Background Image */
  body {
   
    background-size:auto;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Login Page Container */
  .login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(253, 250, 250, 0.5); /* Dark overlay */
    background: url('./images/internet-access-and-security-concept.png') no-repeat center center fixed;
    
  }
  
  .login-container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;

  }
  
  /* Input Fields */
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .input-group input:focus {
    border-color: #2575fc;
    outline: none;
  }
  
  /* Buttons */
  button {
    width: 100%;
    padding: 12px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6a11cb;
  }
  
  /* Links */
  .links {
    margin-top: 15px;
    text-align: center;
  }
  
  .links a {
    color: #2575fc;
    text-decoration: none;
    font-size: 14px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }